.cart-container {
  margin-top: 20px;
  padding: 10px;
  background: #f8f9fa;
  border-radius: 8px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.cart-item button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.cart-item button:hover {
  background-color: darkred;
}
